<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Koa框架博客案例</title>
    <link rel="icon" type="image/png" href="http://www.yuguoxy.cn/res/i/favicon.png" sizes="16x16">
    <link rel="stylesheet" href="../css/index.css">
    <script src="https://unpkg.com/jquery@3.3.1/dist/jquery.min.js"></script>
</head>

<body>
    <header>
        <div class="user_name">
            <% if(userInfo) {%> <%=userInfo.name%>  <% } else { %>  欢迎注册登录^_^' <% } %>
        </div>
        <div class="message">登录成功</div>
        <div class="user_right">

            <% if(userInfo) {%>
            <div class="has_user">
                <a href="/posts">全部文章</a>
                <a href="/post/create">发表文章</a>
                <span class="signout">登出</span>
            </div>
            <% } else {%>
            <div class="none_user has_user">
                <a class="active" href="/posts">全部文章</a>
                <a href="/register">注册</a>
                <a href="/login">登录</a>
            </div>
            <% } %>
        </div>
    </header>
    <div class="container">
        <ul class="posts">
            <% for(let i =0; i < list.length; i++) { %>
            <li>
                <div class="author">
                    <span title="<%= list[i].title%>"></span>
                    <span>评论数：<%= list[i].comments %></span>
                    <span>浏览量：<%= list[i].pv %></span>
                </div>
                <div class="comment_pv">
                    <span><%= list[i].moments %></span>
                </div>
                <a href="/post/detail/<%= list[i].id %>">
                    <div class="title">
                        <img class="userAvator" src="../upload/<%= list[i].avator%>" alt="avator">
                        <%- list[i].title%>
                    </div>
                    <div class="content-index markdown">
                        <%- list[i].content%>
                    </div>
                </a>
            </li>
            <% } %>


        </ul>
    </div>
    <script>
        $('.signout').bind('click',()=>{
            $.ajax({
                url:'/logout',
                method: 'get',
                dataType: 'json', //服务器返回数据类型
                contentType: 'application/x-www-form-urlencoded',//客户端传输数据类型
                
                success: function(result){
                    if(result.code == 1){
                        //页面刷新
                        window.location.href = '/post/list';
                    }
                },
                error: function(error){
                    alert(error);
                }
            })
        })
    </script>
</body>

</html>